# fun

alias fortunecow='fortune | cowsay'
alias rainbow='yes xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx | lolcat'
alias tuxsay='cowsay -f tux'
alias ddos='ping'

# dotfiles sync

alias dotfiles='git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

# compression

alias zip='zip -9'
alias gzip='gzip -9'
alias bzip2='bzip2 -9'

# apt

if [ -x /usr/bin/aptitude ]; then
    alias aptitude='sudo aptitude'
    alias apt='aptitude'
fi

# overriders
alias mkdir='mkdir -pv'
alias pg='less'
alias wget='wget -c'

# trash

if [ -x /usr/bin/trash ]; then
    alias rrm='/bin/rm'
    alias rm='trash'
    alias lstrash='trash-list'
    alias emptrash='trash-empty'
    alias rmtrash='trash-rm'
    alias restore='restore-trash'
fi

# sudo

alias sudo='sudo '
alias shutdown='sudo shutdown'
alias reboot='sudo reboot'
alias ifconfig='sudo ifconfig'
alias poweroff='sudo poweroff'

# editing

export EDITOR='vim'
alias snano='sudo nano'
alias svim='sudo vim'
alias edit="$EDITOR"
alias sedit='sudo edit'

# colors

alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# ls

alias ls='ls --color=auto -F'
alias ll='ls -l -H'
alias lla='ll -A'
alias la='ls -A'
alias l='ls'
alias l.='ls -d .*'

# cd

alias ..='cd ..'
alias cd..='cd ..'
alias ~='cd ~'

# shortcuts

alias open='xdg-open'
alias cls='clear'
alias neo='neofetch'
alias fetch='neofetch'
alias ytdl='youtube-dl'

# other

alias inxii='inxi -Fx' 
alias wgetsite='wget --html-extension -r --convert-links --page-requisites --no-parent'
alias now='date +"%T"'
alias nowtime='now'
alias nowdate='date +"%d-%m-%Y"'
alias upgrade='sudo aptitude update && sudo aptitude upgrade'
alias wttr='curl wttr.in'
alias net='nmtui'
