[submodule "dotfiles/.config/zsh/plugins/codestats"]
	path = dotfiles/.config/zsh/plugins/codestats
	url = https://gitlab.com/code-stats/code-stats-zsh
[submodule "dotfiles/.config/vim/pack/plugins/start/codestats"]
	path = dotfiles/.config/vim/pack/plugins/start/codestats
	url = https://gitlab.com/code-stats/code-stats-vim
[submodule "dotfiles/.config/vim/pack/themes/start/dracula"]
	path = dotfiles/.config/vim/pack/themes/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "dotfiles/.config/vim/pack/plugins/start/vimdiscord"]
	path = dotfiles/.config/vim/pack/plugins/start/vimdiscord
	url = https://github.com/vbe0201/vimdiscord
