#                                   
#                                   
#     ▐▙██▖ ▟██▖▐▙██▖ ▟█▙  █▟█▌ ▟██▖
#     ▐▛ ▐▌ ▘▄▟▌▐▛ ▐▌▐▛ ▜▌ █▘  ▐▛  ▘
#     ▐▌ ▐▌▗█▀▜▌▐▌ ▐▌▐▌ ▐▌ █   ▐▌   
#  █  ▐▌ ▐▌▐▙▄█▌▐▌ ▐▌▝█▄█▘ █   ▝█▄▄▌
#  ▀  ▝▘ ▝▘ ▀▀▝▘▝▘ ▝▘ ▝▀▘  ▀    ▝▀▀ 
#                                   
#
# (C) Grzesiek11 2019
# Licensed under GNU GPL v3.0.
# https://gitlab.com/grzesiek11/dotfiles

set autoindent
set morespace
#set mouse
set softwrap
set tabstospaces
set tabsize 4
set boldtext
set smooth
set constantshow
set linenumbers